h1{
color: red;
font-size: 48px;
}
#sentence2{
  color: dark blue;
  font-size: 48px;
}
#frame{
	height:50%;
	width: auto;
	margin: auto;


#metal frame{
}            
        Height:50%
        Width: auto;
        margin: auto;